@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  /* font-family: "Bodoni Moda", serif; */
}

/* Estilo general de la barra de scroll */
::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de scroll */
  height: 12px; /* Altura de la barra de scroll horizontal */
}

/* Fondo de la barra de scroll */
::-webkit-scrollbar-track {
  background: white; /* Color de fondo del track */
}

/* Estilo del thumb (la parte móvil) */
::-webkit-scrollbar-thumb {
  background-color: var(--btn-color); /* Color del thumb */
  border: 3px solid var(--btn-color); /* Borde alrededor del thumb */
}

/* Estilo del thumb cuando se pasa el cursor */
::-webkit-scrollbar-thumb:hover {
  background-color: var(
    --titulo-color
  ); /* Color del thumb al pasar el cursor */
  border: 3px solid var(--titulo-color); /* Borde alrededor del thumb */
}

:root {
  --btn-color: #f27979;
  --line-color: #ca9e71;
  --titulo-color: rgb(140, 32, 22);
  --footer-color: #ffe1df;
  --form-color: #192252;
}

header {
  background-color: var(--btn-color);
  padding: 10px;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--btn-color);
}

.nav img {
  border-radius: 50%;
  width: 5%;
  height: auto;
  margin-left: 15px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  width: 500px;
  margin-right: 5rem;
  gap: 1rem;
}

.logoNav {
  width: max-content;
  display: contents;
}

.navbar a {
  color: var(--form-color);
  text-decoration: none;
  padding: 5px;
}

.navbar a:hover {
  border-bottom: solid 2px var(--form-color);
}

#seleccionado {
  font-weight: bold;
  border-bottom: solid 2px var(--form-color);
}

.encabezadoPerfil {
  display: flex;
  justify-content: space-between;
  width: 70%;
  align-items: flex-end;
}

.tituto-seccion {
  color: var(--titulo-color);
  font-weight: bold;
  font-size: 1.5rem;
}

.logo-seccion {
  border-radius: 50%;
  width: 5%;
  height: auto;
}

.line {
  width: 68.5%;
  height: 2px;
  background-color: var(--line-color);
}

.line-misCursos {
  width: 100%;
  height: 2px;
  background-color: var(--line-color);
}

.container-texto {
  width: 100%;
}

.misCursos-container {
  width: 70%;
  background-color: white;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.card-cursos {
  border-radius: 10px;
  background-color: var(--footer-color);
  padding: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 2rem;
  width: 100%;
}

.curso-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.curso-container:hover {
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
}

.img-curso {
  display: block;
  width: 100%;
  border-radius: 10px;
  transition: opacity 0.2s ease-in-out;
  filter: brightness(50%);
}

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.info-curso {
  border-radius: 10px;
  width: 100%;
}

.info-curso h1 {
  padding-top: 1rem;
}

.texto-misCursos {
  color: var(--titulo-color);
  font-size: medium;
  margin-top: 0.8rem;
  text-align: justify;
}

/* FOOTER */

footer {
  position: relative;
  bottom: 0;
  margin-top: 5rem;
}

.redes-logo {
  background-color: var(--footer-color);
  height: max-content;
}

.foot-img {
  width: 100%;
  text-align: center;
}

.foot-img img {
  width: 8%;
  height: auto;
}

.redes {
  gap: 4rem;
  align-items: center;
}

.redes a {
  margin: 15px 0px;
}

.copyright p {
  background-color: var(--btn-color);
  text-align: center;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}
/* FOOTER */
.mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .mobile {
    display: contents;
  }

  .nav {
    display: none;
  }

  .info-perfil {
    width: 100%;
    gap: 1rem;
    height: max-content;
  }

  .logos {
    display: none;
  }

  .campos {
    width: max-content;
  }

  .formPerfil {
    width: max-content;
  }

  .campos p {
    font-size: small;
  }

  .formPerfil input {
    font-size: small;
  }

  .btn-catalogo {
    width: max-content;
    font-size: small;
  }

  #navMobile {
    width: max-content;
  }

  .logoNav img {
    width: 10%;
    border-radius: 50%;
  }

  .titulo-mobile {
    color: var(--titulo-color);
    font-weight: bold;
  }

  .line-nav {
    width: 85%;
    height: 2px;
    background-color: var(--line-color);
    margin: 0px 1rem;
  }

  .nav-item a {
    color: var(--form-color);
    font-size: large;
    font-size: larger;
    text-decoration: none;
    margin: 0.5rem 0rem;
    display: inline-block;
    transition: all 0.3s ease-in-out;
  }

  .btn-nav img {
    width: 80%;
  }

  .encabezadoPerfil {
    width: 80%;
  }

  .logo-seccion {
    width: 15%;
  }

  .tituto-seccion {
    font-size: 1.2rem;
  }

  .line {
    width: 75%;
  }

  .datosPersonales {
    width: 80%;
    height: auto;
    overflow: auto;
    margin-bottom: 15rem;
  }

  .foot-img img {
    width: 30%;
  }

  .userAccion {
    height: max-content;
  }

  .nombreUsuario h1 {
    font-size: 1rem;
  }

  .fotoPerfil a {
    display: flex;
    justify-content: center;
  }

  .fotoPerfil img {
    width: 50%;
  }

  .cambiarFotoTexto {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .misCursos-container {
    width: 90%; 
    padding: 1rem;
  }

  .card-cursos {
    grid-template-columns: 1fr; 
    gap: 1.5rem;
  }

  .img-curso {
    width: 100%; 
    border-radius: 10px;
  }

  .play {
    width: 20%; 
  }

  .info-curso h1 {
    font-size: 1.2rem; 
  }

  .texto-misCursos {
    font-size: 0.9rem; 
    margin-top: 0.5rem;
  }

  .line-misCursos {
    margin-bottom: 1rem; 
  }
}
